@import "tailwindcss";
@plugin "daisyui";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");


/* Custom Global Styles */
:root {
  /* Colors */
  --color-primary: #3e2723; /* Dark Brown */
  --color-light-100: #f8e8d0; /* Cream */
  --color-light-200: #e4c9a7; /* Latte */
  --color-gray-100: #b5a397; /* Warm Gray */
  --color-dark-100: #1e1b18; /* Deep Espresso */

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
}


/* Global Styles */
html {
  scroll-behavior: smooth;
}


body {
  font-family: var(---font-poppins);
  background-color: var(--color-light-100);
  color: var(--color-dark-100);
  margin: 0; 
  padding: 0;
}


/* Main Layout */
main {
  min-height: 100vh;
  background-color: var(--color-light-100);
}


/* Header Styles */
header {
  padding: 20px;
}


/* Custom Utility Classes (optional) */
.text-gradient {
  background: linear-gradient(to right, #e4c9a7, #b5a397);
  color: transparent;
}


.fancy-text {
  -webkit-text-stroke: 5px rgba(232, 202, 172, 0.5); /* Light coffee outline */
  font-size: 190px;
  font-family: "Poppins", sans-serif;
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
